/* UserDashBoard.module.css */

.container {
    position: relative;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Arkaplanı yarı saydam siyah renk yapar */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  